
{% extends "base.html" %}
{% load static %}

{%block title%}パスワード変更のリクエスト{%endblock%}

{%block css%}
{% load i18n %}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        .email-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 8px;
        }
        .header {
            background-color: #4CAF50;
            color: white;
            padding: 15px;
            text-align: center;
            font-size: 24px;
            border-radius: 8px 8px 0 0;
        }
        .content {
            margin: 20px 0;
            color: #333;
            line-height: 1.6;
        }
        .content p {
            margin-bottom: 10px;
        }
        /* パスワード変更リンクのスタイル */
        .reset-link {
            display: inline-block;
            padding: 15px 25px;
            color: rgb(88, 20, 114);
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            font-weight: bold;
            text-align: center;
            margin-top: 15px;
            transition: background-color 0.3s ease, transform 0.3s ease;
            border-bottom: 2px solid #0056b3; /* アンダーバー追加 */
        }
        .reset-link:hover {
            background-color: #0056b3; /* ホバー時の色変更 */
            transform: scale(1.05); /* 少し大きくなる */
        }
        .footer {
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
            color: #777;
        }
        .footer a {
            color: #4CAF50;
            text-decoration: none;
        }
    </style>
{%endblock%}
{%block main%}
    <body>
        <div class="email-container">
            <div class="header">
                パスワード変更のリクエスト
            </div>
            <div class="content">
                <p>{{ user.username }} 様、</p>
                <p>パスワード変更のリクエストを受け付けました。以下のリンクをクリックして新しいパスワードに変更してください。</p>
                <p><a href="{{ reset_url|safe }}" class="reset-link">パスワード変更リンク</a></p>
                <p>このリンクは一定時間後に無効になりますので、お早めにご利用ください。</p>
            </div>
            <div class="footer">
                <p>もし、このリクエストに覚えがない場合は、無視して構いません。</p>
                <p>ありがとうございます。</p>
            </div>
        </div>
    </body>
{%endblock%}
