<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更完了画面</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
            margin: 20px;
        }


        .divider {
            border-top: 2px solid #000000; /* 黒色の線 */
            width: 100%; /* 幅を100%に設定 */
            margin: 20px 0; /* 上下に余白を追加 */
        }

    </style>

</head>
<body>
    <div class="top-bar">
        <h3>パスワード変更完了画面</h3>
      </div>
  
      <!-- 水平線 -->
      <div class="divider"></div>

      <h3>パスワードが変更されました。</h3>
</body>
</html>
