<!-- 1 -->
{% extends "base.html" %}
{% load static %}

{%block title%}案内ピン削除画面{%endblock%}

{%block css%}
            <style>
                .btn-back {
                    background-color: blue;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 12px; /* 角を丸く */
                }
                .btn-delete {
                    background-color: red;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 12px; 
                }
            </style>
{%endblock%}
{% block headertitle %}案内ピンの削除{% endblock %}
{%block main%}
        <body>
            <h3>こちらの内容を削除してもよろしいですか？</h3>
            <form method="post">
                {% csrf_token %}
                <button type="button" class="btn-back">戻る</button>
                <button type="button" class="btn-delete">削除</button>
            </form>
        </body>
{%endblock%}